version: '3.1'
services:
  docker_mongo:
    container_name: docker_mongo
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${USERNAME_BDD}
      MONGO_INITDB_ROOT_PASSWORD: ${PASSWORD_BDD}