<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👋 Welcome - Restaurant App</title>
    <style>
        .container-form{
            width: 100vw;
            height: 100vh;
            /* background: url('/assets/cut-street-food.jpeg'); */
            background-image: url('https://cdn.vox-cdn.com/thumbor/bif3U7XKUqWpOUv91_fXLfzsIx8=/0x0:6000x4000/1200x675/filters:focal(2520x1520:3480x2480)/cdn.vox-cdn.com/uploads/chorus_image/image/71262429/Le_Fantome.0.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        h1{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #FFF;
            font-size: 30px;
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #a8dadc;
            padding: 25px 0 75px;
            border-radius: 30px;
            -webkit-box-shadow: 6px 5px 24px -5px #f1faee; 
            box-shadow: 6px 5px 24px -5px #f1faee;
        }
        input{
            width: 80%;
            height: 50px;
            border: none;
            border-radius: 20px;
            padding: 5px 10px;
        }
        input[type=submit]{
            background: rgb(69, 123, 157);
            color: #FFF;
            cursor: pointer;

        }
        input[type=submit]:hover{
            background: rgba(69, 123, 157, 0.7);
        }
    </style>
</head>
<body>
    <section class="container-form">
        <form action="/getMenu">
            <h1>Welcome in Restaurant App !</h1>
            <input type="text" name="firstName" placeholder="Name" required>
            <input type="number" name="age" placeholder="Age" required>
            <input type="number" name="budget" placeholder="Budget" required>
            <input type="submit" value="Welcome !">
        </form>
    </section>
</body>
</html>